<ion-header>
    <ion-toolbar class="ion-text-center">
      <ion-title>¡Piedra, papel o tijeras!</ion-title>
    </ion-toolbar>
</ion-header>
<ion-grid class="ion-margin-top">
  <ion-row class="ion-text-center">
    <ion-col *ngFor="let img of images">
      <div>
        <img [src]="img.src" alt="img.alt">
      </div>
    </ion-col>
  </ion-row>
  <div class="ion-text-center">
    <ion-button color="primary" size="small" (click)="play()">Jugar</ion-button>
  </div>
  <div class="ion-text-center">
    <p>{{userShot}}</p>
    <ion-badge color="{{color}}">{{message}}</ion-badge>
  </div>
  <app-result></app-result>
</ion-grid>

