ion-grid {
    ion-row:first-child {
      background-color:  #2dd36f;
      font-weight: bold;
      text-align: center;
    }
    ion-col {
      text-align: center;
      border-bottom: 1px solid black;
    }
  }

@media screen and (max-width: 320px) {

  ion-grid {
    ion-row:first-child {
      background-color:  #2dd36f;
      font-weight: bold;
      text-align: center;
      font-size: x-small;
    }
    ion-col {
      text-align: center;
      font-size: x-small;
      border-bottom: 1px solid black;
    }
  }

}



